.header 	
				{
							position:fixed;
							background-color:#2D3E52;
							width: 100%;
							height:16%;
				}
				
#txt 	
				{
							color: white;
							font-family:Ubuntu;
							font-size:85%;
							text-align:justify;
				}	

#txtlogin	
				{
							font-size:150%;
							color: white;
							font-family:Ubuntu;
	
				}	

#txtwarn	
				{
							color: white;
							font-family:Ubuntu;
							text-align:justify;
							
							font-size:90%;
	
				}					
				

#txt2 	
				{
							color: white;
							font-family:Ubuntu;
						
				}	
				
#txt3 	
				{
							color: black;
							font-family:Ubuntu;
							font-size:30px;
							text-align:center;
				}	
	
	
.btn.sharp 
				{
							border-radius:0;
							font-family:Ubuntu;
							
							
				}
				
				
.nounderline
				{
							text-decoration: none !important
				}

.navigationbar	
				{
							position:fixed;
							left:0px;
							right:0px;
							background-color:#344A5F;
							top:15%;
							height:5%;
							bottom:80%;
				}
				
			
.navbar_text
				{
							font-size:150%;
							vertical-align:middle !important;
							color:White !important;
							font-style:bold;
							font-family:Ubuntu;
							text-align:center;
							
				}



.bg		
				{
							
							background:#344A5F;
					
				}
				
.rangkopcinja
				{
							background:#344A5F;
				}

#button1 
				{
							display: none;
				}

#l1 
				{
							display: none;
							color:white;
							font-family:Ubuntu;
							font-size:20px;
				}			

	

.glyphicon.glyphicon-log-in {
		
}	

.glyphicon.glyphicon-plus {
 
}	

.glyphicon.glyphicon-user {
  
}	
	
#jumbologin 
					{
							 background: rgba(45, 62, 82, 0.7);
					}
					
#jumbologin1 
					{
							 background: rgba(45, 62, 82, 0.7);
							 padding: 15px !important;
					}	

.modalbg	
					{
							background:white !important;
					}
