.main 		
			{	
				position:fixed;
				color:black;
				top:202px;
				left:0px;
				right:0px;
				bottom:0px;

			}

.main1 		
			{	
				position:fixed;
				color:black;
				top:202px;
				left:0px;
				right:80%;
				bottom:0px;
				 background: rgba(45, 62, 82, 0.8);
			}

.main2
			{
				position:fixed;
				color:black;
				top:202px;
				left:21%;
				right:0;
				bottom:55%;
				 background: rgba(45, 62, 82, 0.8);
			}
			
		
#pozadina

			{
							background-image: url( http://i.imgur.com/dcvtoem.jpg) ;
						  -webkit-background-size: cover;
						  -moz-background-size: cover;
						  -o-background-size: cover;
							background-size: cover;
			}
			
#pozadinalogin

			{
							background-image: url(http://i.imgur.com/7vMNpFe.jpg) ;
						  -webkit-background-size: cover;
						  -moz-background-size: cover;
						  -o-background-size: cover;
						  background-size: cover;
			}
#pozadinarezultati

			{
						position:fixed;
						top:202px;
						bottom:0px;
						left:0px;
						right:0px;
							background-image: url(http://i.imgur.com/i8Xt43b.jpg) ;
						  -webkit-background-size: cover;
						  -moz-background-size: cover;
						  -o-background-size: cover;
						  background-size: cover;
			}
			
			
#pozadinareg

			{
					background-image: url(http://defwalls.com/wallpapers-n/minimalistic-wind-blurred-_4331-50.jpg);
						 
			}			
			

#jumbo
				{
					 background: rgba(52, 74, 95, 0);
					
					 text-align:center;
				}
				
#jumbo1
				{
					 background: rgba(52, 74, 95, 0.5);
					color:white;
					 text-align:justify;
					 font-family:ubuntu;
					 font-size:15px;
					 
				}
#textjumbo 
				{
					color:white;
					font-family:ubuntu
				}


			
