/* main class for the content positioning of a certain page */
.main 		
			{	
				position:fixed;
				color:black;
				top:20%;
				left:0px;
				right:0px;
				bottom:0px;
				z-index: -1;
                overflow-y:scroll !important;
                overflow-y:hidden;
                overflow-x:hidden;

			}
/*setting the background wallpaper for the pages that use the main class (for jquerry transition effect*/
.mainww	
			{	
				position:fixed;
				color:black;
				top:20%;
				left:0px;
				right:0px;
				bottom:0px;
				z-index: -1;
				overflow-y:scroll !important;
				overflow-y:hidden;
                overflow-x:hidden;
                background-image: url(http://i.imgur.com/7vMNpFe.jpg) ;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;

			}

/*setting the background wallpaper for the "Рангирај" page seperately (for the jquerry transition effect)*/
.mainwwrang
            {
    	       position:fixed;
				color:black;
				top:20%;
				left:0px;
				right:0px;
				bottom:0px;
				z-index: -1;
				overflow-y:scroll !important;
				overflow-y:hidden;
                overflow-x:hidden;
                background-image: url( http://i.imgur.com/dcvtoem.jpg) ;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
            }

.main1 		
			{	
				position:fixed;
				color:black;
				top:20%;
				left:0px;
				right:75%;
				bottom:0px;
				 background: rgba(45, 62, 82, 0.8);
				 z-index: -1;
				 border-bottom-color:black;
				 border-bottom:150px;
				 overflow-y:scroll !important;
				  overflow-y:hidden;
    				overflow-x:hidden;
			}


/* main2 class for the content positioning of a certain page */
.main2
			{
				position:fixed;
				color:black;
				top:20%;
				left:26%;
				right:0;
                background: rgba(45, 62, 82, 0.8);
				z-index: -1;
				padding:15px !Important;
				font-family:ubuntu;
				overflow-y:scroll !important;
				overflow-y:hidden;
                overflow-x:hidden;
            }

/* disabling the re-size ability in the foundation's modal "cinema view" comment box */
#resizeboxdisable {
   resize: none;
}		


/* start of the customization for the text in the "Резултати" pages' columns */
.rezultaticol{
		color:white;
		text-align:center;
		font-size:120%;
		vertical-align:middle;
}

.rezultaticol1{
		color:white;
		text-align:center;
		font-size:90%;
		vertical-align:middle;
}
.rezultaticol2{
		color:white;
		text-align:center;
		font-size:200%;
		vertical-align:middle;
}
/* end of the customization for the text in the "Резултати" pages' columns */




/* Currently not using, due to the new mainww & mainrang classes
#pozadina

			{
				background-image: url( http://i.imgur.com/dcvtoem.jpg) ;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
			
#pozadinalogin

			{
				background-image: url(http://i.imgur.com/7vMNpFe.jpg) ;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
*/



/*background wallpaper for the "Резултати" page*/
#pozadinarezultati

			{
						position:fixed;
						top:20%;
						bottom:0px;
						left:0px;
						right:0px;
				        background-image: url(http://i.imgur.com/i8Xt43b.jpg) ;
				        -webkit-background-size: cover;
				        -moz-background-size: cover;
				        -o-background-size: cover;
				        background-size: cover;
				        z-index: -1;
			}
			

/* universal customization of a bootstrap's jumbotron*/
#jumbo
				{
					 background: rgba(52, 74, 95, 0);
					 text-align:center;
				}

/* universal customization of a bootstrap's jumbotron*/
#jumbo1
				{
                    background: rgba(52, 74, 95, 0.5);
                    color:white;
                    text-align:justify;
                    font-family:ubuntu;
					padding:15px; !important;
					font-size:80%;
					 
				}
/* universal customization of a bootstrap's jumbotron at the listing of the proffesors from Рангирај page */				
#jumboproff
				{
					
					color:white;
                    text-align:justify;
                    font-family:ubuntu;
					background: rgba(45, 62, 82, 0.8);
					font-size:120%;
					 
                }

/*customization of the content (text) in a jumbotron*/
#textjumbo 
				{
					text-align:center;
					color:white;
					font-family:ubuntu
				}

/*customization of the content (text) in a jumbotron*/				
#textjumbo2
				{
					text-align:center;
			
					color:white;
					font-family:ubuntu
				}

/*customization of the content (text) in a jumbotron*/				
#textjumbo3
				{
					text-align:center;

					color:white;
					font-family:ubuntu
				}



/*don't remember*/
.schweinhund 
            {

				position:fixed;
				color:black;
				top:12%;
				left:0;
				right:0;
				font-family:ubuntu

            }

/*don't remember*/
.listtext 
            {

                font-family:ubuntu;
                color:white;
                font-size:130%;

            }

/*a custom main class for a certain page*/
.maincustom 		
			{	
				position:fixed;
				color:black;
				top:13%;
				left:0px;
				right:0px;
				bottom:0px;
				z-index: -1;

			}

/*customization of the foundation's reveal modal -> cinema effect*/
.revealpaddig
			{

				padding:10px !Important;
				top:10% !important;
				left:56% !important;
				right:54% !important;
			}

/*customization of the text in the header, aka the real time display*/
.headertxt

            {

                font-family: ubuntu;   
                color:white;
                font-size: 200%;

            }
