.main 		
			{	
				position:fixed;
				color:black;
				top:20%;
				left:0px;
				right:0px;
				bottom:0px;
				z-index: -1;
<<<<<<< HEAD
				 overflow-y:scroll !important;
				  overflow-y:hidden;
    				overflow-x:hidden;
=======
>>>>>>> 84375c12d61e79c84b897eb5d983b14b9667ed67

			}

.main1 		
			{	
				position:fixed;
				color:black;
				top:20%;
				left:0px;
				right:75%;
				bottom:0px;
				 background: rgba(45, 62, 82, 0.8);
				 z-index: -1;
				 border-bottom-color:black;
				 border-bottom:150px;
<<<<<<< HEAD
				 overflow-y:scroll !important;
				  overflow-y:hidden;
    				overflow-x:hidden;
=======
>>>>>>> 84375c12d61e79c84b897eb5d983b14b9667ed67
			}

.main2
			{
				position:fixed;
				color:black;
				top:20%;
				left:26%;
				right:0;
				
				 background: rgba(45, 62, 82, 0.8);
				 z-index: -1;
				 padding:15px !Important;
<<<<<<< HEAD
				 font-family:ubuntu;
				 overflow-y:scroll !important;
				  overflow-y:hidden;
    				overflow-x:hidden;
			
  


			}
#resizeboxdisable {
   resize: none;
}		
=======
				 font-family:ubuntu
			}
			
>>>>>>> 84375c12d61e79c84b897eb5d983b14b9667ed67


.rezultaticol{
		color:white;
		text-align:center;
		font-size:120%;
		vertical-align:middle;
}
<<<<<<< HEAD

.rezultaticol1{
		color:white;
		text-align:center;
		font-size:90%;
		vertical-align:middle;
}
=======
>>>>>>> 84375c12d61e79c84b897eb5d983b14b9667ed67
.rezultaticol2{
		color:white;
		text-align:center;
		font-size:200%;
		vertical-align:middle;
}
		
#pozadina

			{
							background-image: url( http://i.imgur.com/dcvtoem.jpg) ;
						  -webkit-background-size: cover;
						  -moz-background-size: cover;
						  -o-background-size: cover;
							background-size: cover;
			}
			
#pozadinalogin

			{
							background-image: url(http://i.imgur.com/7vMNpFe.jpg) ;
						  -webkit-background-size: cover;
						  -moz-background-size: cover;
						  -o-background-size: cover;
						  background-size: cover;
			}
#pozadinarezultati

			{
						position:fixed;
						top:20%;
						bottom:0px;
						left:0px;
						right:0px;
							background-image: url(http://i.imgur.com/i8Xt43b.jpg) ;
						  -webkit-background-size: cover;
						  -moz-background-size: cover;
						  -o-background-size: cover;
						  background-size: cover;
						  z-index: -1;
			}
			
			
#pozadinareg

			{
					background-image: url(http://defwalls.com/wallpapers-n/minimalistic-wind-blurred-_4331-50.jpg);
						 
			}			
			

			
#jumbo
				{
					 background: rgba(52, 74, 95, 0);
					
					 text-align:center;
				}
				
#jumbo1
				{
					 background: rgba(52, 74, 95, 0.5);
					color:white;
					 text-align:justify;
					 font-family:ubuntu;
					padding:15px; !important;
					font-size:80%;
					 
				}
				
#jumboproff
				{
<<<<<<< HEAD
					
					color:white;
					 text-align:justify;
					 font-family:ubuntu;
					background: rgba(45, 62, 82, 0.8);
=======
					 background: rgba(52, 74, 95, 0.5);
					color:white;
					 text-align:justify;
					 font-family:ubuntu;
				
>>>>>>> 84375c12d61e79c84b897eb5d983b14b9667ed67
					font-size:120%;
					 
				}
#textjumbo 
				{
					text-align:center;
					color:white;
					font-family:ubuntu
				}
				
#textjumbo2
				{
					text-align:center;
			
					color:white;
					font-family:ubuntu
				}
				
#textjumbo3
				{
					text-align:center;

					color:white;
					font-family:ubuntu
				}

.revealpaddig
			{
<<<<<<< HEAD

				padding:10px !Important;
				top:10% !important;
				left:52% !important;
				right:52% !important;
			}


.schweinhund {

				position:fixed;
				color:black;
				top:12%;
				left:0;
				right:0;
				font-family:ubuntu

}

.listtext {

	font-family:ubuntu;
	color:white;
	font-size:130%;



}

.maincustom 		
			{	
				position:fixed;
				color:black;
				top:13%;
				left:0px;
				right:0px;
				bottom:0px;
				z-index: -1;

			}



=======
				padding:15px !Important;
			}

			
>>>>>>> 84375c12d61e79c84b897eb5d983b14b9667ed67
